.Projects{
    display : grid;
    margin-top : 20px;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.accordion-body{
    white-space: pre-wrap;
}

.accordion-body p{
    white-space: pre-wrap;
    margin-bottom: 0.5rem;
}


.accordion-body .project-img{
    border : 1px solid lightgrey;
    width : 46%;
    margin : 10px;
}

.card-img-top{
    width : 20%;
    margin : auto;
    margin-top : 20px;
}

.card-body img{
    margin : 10px;
}

.accordion-item{
    margin-bottom : 20px;
}

.accordion-header button{
    font-size : 30px;
}

.accordion-header img{
    height: 60px;
    margin-right: 20px;
}

.svg-logo{
    background-color: lightgrey;
}

.tech-badge{
    margin : 10px;
}

@media all and (max-width:767px) {
    .Projects{
        display : grid;
        margin-top : 20px;
        grid-template-columns: 1fr;
        column-gap: 40px;
    }

    .accordion-body .project-img{
        width : 100%;
        margin-bottom : 10px;
    }
}