html, body {
  	background-color : #F9F9F9;
}

#root{
  	display: block;
  	background-color : #F9F9F9;
}

a:link{
  color : black;
  text-decoration: none;
}

a:visited{
	color: black;
	text-decoration: none;
}

a:hover{ 
	color: black; 
	text-decoration: underline;
}